[submodule "S1_lyon1-nexus"]
	path = S1_lyon1-nexus
	url = https://github.com/Pyramond/lyon1-nexus
[submodule "S2-SAE-Pydance"]
	path = S2-SAE-Pydance
	url = git@github.com:Pyramond/Pydance.git
[submodule "SAE-203---Arduino"]
	path = SAE-203---Arduino
	url = git@github.com:Pyramond/SAE-203---Arduino.git
[submodule "S2_SAE_Arduino"]
	path = S2_SAE_Arduino
	url = git@github.com:Pyramond/SAE-203---Arduino.git
[submodule "S2_SAE_Qt"]
	path = S2_SAE_Qt
	url = git@github.com:Pyramond/SAE201-Qt.git
[submodule "2A_SAE_Frontend"]
	path = 2A_SAE_Frontend
	url = git@github.com:Pyramond/SAE-2A-Frontent.git
[submodule "2A_SAE_Backend"]
	path = 2A_SAE_Backend
	url = git@github.com:Pyramond/SAE-2A-Backend.git
